

body{
    background: orange;
    color: white;
    font-size: 20pt;
    font-family: 'Major Mono Display', monospace;
}


p{
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

img{

}